.header-index{
    width: 100%;
}
.logo{
    width: 100px;
}
.login{
    width: 50px;
    margin-left: 75%;
    margin-top: 3%;
}
.Cerrar{
    width: 50px;
    margin-top: -8%;
    margin-left: 1.5%;
    margin-bottom: 1%;
}
.nav{
    margin-left: -22.5%;
}