a{
    text-decoration: none;
    color: black;
}
.Password{
    border: 5px solid black;
    max-width: 35%;
    margin-left: 9%;
    text-align: center;
    margin-top: 3%;
    border-radius: 40px;
}
.Password img{
    max-width: 50%;
    margin-top: 3%;
}
.Password h3{
    margin: 3% 0%;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Perfil{

    border: 5px solid black;
    max-width: 35%;
    margin-left: 53%;
    text-align: center;
    margin-top: -23%;
    border-radius: 40px;
    margin-bottom: 3%;
}
.Perfil img{
    max-width: 50%;
    margin-top: 3%;
}
.Perfil h3{
    margin: 3% 0%;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}