.registro{
    border: 1px solid #cfcfcf;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 18%;
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.registro > h2{
    margin-top: 2%;
    margin-bottom: 2%;
}
.registro .Nombre{
    margin-bottom: 1.5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .Apellido{
    margin-bottom: 1.5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .Cedula{
    margin-bottom: 1.5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .Email{
    margin-bottom: 1.5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .Telefono{
    margin-bottom: 1.5%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .Rol{
    margin-bottom: 1%;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}
.registro .aceptar{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-top: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #af0f0f;
    color: white;
    margin-left: 1%;
    font-size: 17px;
}
.Cancelar{
    text-decoration: none;
    background-color: #252525;
    color: white;
    padding: 15px 20px 15px 20px;
    margin-left: -81%;
    margin-bottom: 1.5%;
}
.registro .aceptar:hover{
    background-color: white;
    border: 1px solid #af0f0f;
    color: #af0f0f;
}
.Cancelar:hover{
    background-color: white;
    border: 1px solid #252525;
    color: #252525;
}
.actualizar{
    border: none;
    background-color: #9b003b;
    color: white;
    padding: 15px 20px 15px 20px;
    margin-bottom: 1.5%;
}
.actualizar:hover{
    border: 1px solid #9b003b;
    color: #9b003b;
    background-color: white;
}